body{
	margin:10px 30px auto;
}
.main{
	margin-top: 40px;

}

*{
	box-sizing: border-box;
	margin: 1px;
}
h1{
	text-align: center;
	font-family: sans-serif;
}
.sec1{
	border: 1px solid black;
	padding: 10px;

	background-color: dimgray;
	font-family: sans-serif;
	position: relative;
	float: left;


}
.sec2{
	border: 1px solid black;
	padding: 10px;

	background-color: dimgray;
	font-family: sans-serif;
	position: relative;
	float: left;

}
.sec3{
	border: 1px solid black;
	padding: 10px;

	background-color: dimgray;
	font-family: sans-serif;
	position: relative;
	float: left;


}

.chicken{
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 5px 50px;
	margin: 0;
	font-size: 125%;
	font-family: sans-serif;
	background-color: lightpink;


}
.beef{
    position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 5px 50px;
	margin: 0;
	font-size: 125%;
	font-family: sans-serif;
	background-color: red;
}
.sushi{
    position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 5px 50px;
	margin: 0;
	font-size: 125%;
	font-family: sans-serif;
	background-color: peachpuff;
}
p{
	margin-top: 40px;
}

@media(min-width: 992px){
	section{
	 width:32.5%;
	 margin-left: 0.2rem;
     margin-right: 0.2rem;
	}
} 
@media(min-width: 768px) and (max-width: 991px){
	.sec1 {
		width: 48.7%;
		margin-right: 5px;
		
	}
	.sec2{
		width: 48.7%;
		margin-left: 5px;
	}
	.sec3{
		margin-top: 10px;
		width: 99%;
	}

}
@media(max-width: 767px){
      .sec1, .sec2, .sec3{
		 width : 100%;
		 margin-bottom: 10px;
	  }
} 