@media(min-width: 992px){
	section{width:31.5%;}
}
@media(min-width: 768px) and (max-width: 991px){
	.sec1 , .sec2{
		width: 47%;
	}
	.sec3{
		margin: 10px;
	}

}
@media(max-width: 767px){

}
body{
	margin-top: 30px;
}
.main{
	margin-top: 40px;

}

*{
	box-sizing: border-box;
	margin: 1px;
}
h1{
	text-align: center;
	font-family: sans-serif;
}
.sec1{
	border: 1px solid black;
	margin-left: 15px;
	margin-right: 15px;
	padding: 10px;
	background-color: dimgray;
	font-family: sans-serif;
	position: relative;
	float: left;


}
.sec2{
	border: 1px solid black;
	margin-right: 15px;
	padding: 10px;
	background-color: dimgray;
	font-family: sans-serif;
	position: relative;
	float: left;

}
.sec3{
	border: 1px solid black;
	margin: 0px;
	padding: 10px;
	background-color: dimgray;
	font-family: sans-serif;
	position: relative;
	float: left;


}

.chicken{
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 5px 50px;
	margin: 0;
	font-size: 125%;
	font-family: sans-serif;
	background-color: lightpink;


}
.beef{
    position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 5px 50px;
	margin: 0;
	font-size: 125%;
	font-family: sans-serif;
	background-color: red;
}
.sushi{
    position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 5px 50px;
	margin: 0;
	font-size: 125%;
	font-family: sans-serif;
	background-color: peachpuff;
}
p{
	margin-top: 40px;
}